<a href="https://colab.research.google.com/github/Vivinonato/Coluna-Automatica-usando-CSS-Responsivo/blob/master/Scraping_Anbima_Indicadores_ANBIMA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [46]:
import pandas as pd
from datetime import datetime

In [47]:
url = 'https://www.anbima.com.br/informacoes/indicadores/'
df = pd.read_html(url, thousands='.', decimal=',')[2]
data_referencia = df.head(1).iloc[0][0]
data_referencia = data_referencia.split('Data e Hora da Última Atualização: ')
data_referencia = data_referencia[1].split(' - ')[0]
data_referencia = datetime.strptime(data_referencia, '%d/%m/%Y')
data_referencia

datetime.datetime(2022, 3, 30, 0, 0)

In [48]:
colunas = [
    'indice',
    'data_referencia',
    'data_captura',
    'descricao',
    'valor'
]

In [49]:
df['data_captura'] = data_referencia
df.dropna(inplace=True)
# remove o primeiro registro do dataframe
df = df.loc[1:]
df['descricao'] = df[1].copy(deep=False)
df

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,0,1,2,data_captura,descricao
2,Estimativa SELIC1,30/03/2022,11.65,2022-03-30,30/03/2022
3,Taxa SELIC do BC2,29/03/2022,11.65,2022-03-30,29/03/2022
4,DI-B33,29/03/2022,11.65,2022-03-30,29/03/2022
6,IGP-M (mar/22)5,Número Índice,1161.418,2022-03-30,Número Índice
7,IGP-M (mar/22)5,Var % no mês,1.74,2022-03-30,Var % no mês
8,IGP-M1,Projeção (mar/22),1.38,2022-03-30,Projeção (mar/22)
9,IPCA (fev/22)6,Número Índice,6215.24,2022-03-30,Número Índice
10,IPCA (fev/22)6,Var % no mês,1.01,2022-03-30,Var % no mês
11,IPCA1,Projeção (mar/22),1.28,2022-03-30,Projeção (mar/22)
13,Dolar Comercial Compra2,29/03/2022,4.7480,2022-03-30,29/03/2022
14,Dólar Comercial Venda2,29/03/2022,4.7486,2022-03-30,29/03/2022
16,Euro Compra2,29/03/2022,5.2731,2022-03-30,29/03/2022
17,Euro Venda2,29/03/2022,5.2743,2022-03-30,29/03/2022
19,TR2,28/03/2022,0.1084,2022-03-30,28/03/2022
20,TBF2,28/03/2022,0.8993,2022-03-30,28/03/2022
22,FDS4,29/03/2022,0.066175,2022-03-30,29/03/2022
23,FDS4,28/03/2022,0.066168,2022-03-30,28/03/2022

In [50]:
df[1] = pd.to_datetime(df[1], format="%d/%m/%Y", errors='coerce')
df

,0,1,2,data_captura,descricao
2,Estimativa SELIC1,2022-03-30,11.65,2022-03-30,30/03/2022
3,Taxa SELIC do BC2,2022-03-29,11.65,2022-03-30,29/03/2022
4,DI-B33,2022-03-29,11.65,2022-03-30,29/03/2022
6,IGP-M (mar/22)5,NaT,1161.418,2022-03-30,Número Índice
7,IGP-M (mar/22)5,NaT,1.74,2022-03-30,Var % no mês
8,IGP-M1,NaT,1.38,2022-03-30,Projeção (mar/22)
9,IPCA (fev/22)6,NaT,6215.24,2022-03-30,Número Índice
10,IPCA (fev/22)6,NaT,1.01,2022-03-30,Var % no mês
11,IPCA1,NaT,1.28,2022-03-30,Projeção (mar/22)
13,Dolar Comercial Compra2,2022-03-29,4.7480,2022-03-30,29/03/2022
14,Dólar Comercial Venda2,2022-03-29,4.7486,2022-03-30,29/03/2022
16,Euro Compra2,2022-03-29,5.2731,2022-03-30,29/03/2022
17,Euro Venda2,2022-03-29,5.2743,2022-03-30,29/03/2022
19,TR2,2022-03-28,0.1084,2022-03-30,28/03/2022
20,TBF2,2022-03-28,0.8993,2022-03-30,28/03/2022
22,FDS4,2022-03-29,0.066175,2022-03-30,29/03/2022
23,FDS4,2022-03-28,0.066168,2022-03-30,28/03/2022

In [51]:
df[1].fillna(df['data_captura'], inplace=True)

In [52]:
def formata_indicador(valor, descricao):
    if valor.startswith('Estimativa SELIC'):
        return 'selic_estimativa_anbima'
    if valor.startswith('Taxa SELIC do BC2'):
        return 'selic'
    if valor.startswith('DI-CETIP3'):
        return 'cdi'
    if valor.startswith('IGP-M (') and descricao.startswith('Número Índice'):
        return 'igpm_numero_indice'
    if valor.startswith('IGP-M (') and descricao.startswith('Var % no mês'):
        return 'igpm_variacao_percentual_mes'
    if valor.startswith('IGP-M1') and descricao.startswith('Projeção'):
        return 'igpm_projecao_anbima'
    if valor.startswith('IPCA (') and descricao.startswith('Número Índice'):
        return 'ipca_numero_indice'
    if valor.startswith('IPCA (') and descricao.startswith('Var % no mês'):
        return 'ipca_variacao_percentual_mes'
    if valor.startswith('IPCA1') and descricao.startswith('Projeção'):
        return 'ipca_projecao_anbima'
    if valor.startswith('Dolar Comercial Compra'):
        return 'dolar_comercial_compra'
    if valor.startswith('Dolar Comercial Venda'):
        return 'dolar_comercial_venda'
    if valor.startswith('Euro Compra'):
        return 'euro_compra'
    if valor.startswith('Euro Venda'):
        return 'euro_venda'
    if valor.startswith('TR2'):
        return 'tr'
    if valor.startswith('TBF2'):
        return 'tbf'
    if valor.startswith('FDS4'):
        return 'fds'
    
df[0] = df.apply(lambda x: formata_indicador(x[0], x['descricao']), axis=1)
df

,0,1,2,data_captura,descricao
2,selic_estimativa_anbima,2022-03-30,11.65,2022-03-30,30/03/2022
3,selic,2022-03-29,11.65,2022-03-30,29/03/2022
4,None,2022-03-29,11.65,2022-03-30,29/03/2022
6,igpm_numero_indice,2022-03-30,1161.418,2022-03-30,Número Índice
7,igpm_variacao_percentual_mes,2022-03-30,1.74,2022-03-30,Var % no mês
8,igpm_projecao_anbima,2022-03-30,1.38,2022-03-30,Projeção (mar/22)
9,ipca_numero_indice,2022-03-30,6215.24,2022-03-30,Número Índice
10,ipca_variacao_percentual_mes,2022-03-30,1.01,2022-03-30,Var % no mês
11,ipca_projecao_anbima,2022-03-30,1.28,2022-03-30,Projeção (mar/22)
13,dolar_comercial_compra,2022-03-29,4.7480,2022-03-30,29/03/2022
14,None,2022-03-29,4.7486,2022-03-30,29/03/2022
16,euro_compra,2022-03-29,5.2731,2022-03-30,29/03/2022
17,euro_venda,2022-03-29,5.2743,2022-03-30,29/03/2022
19,tr,2022-03-28,0.1084,2022-03-30,28/03/2022
20,tbf,2022-03-28,0.8993,2022-03-30,28/03/2022
22,fds,2022-03-29,0.066175,2022-03-30,29/03/2022
23,fds,2022-03-28,0.066168,2022-03-30,28/03/2022

In [53]:
# renomeia e formata as colunas
df.rename(columns={0: 'indice', 1: 'data_referencia', 2: 'valor'}, inplace=True)
df = df[[
    'indice',
    'data_referencia',
    'data_captura',
    'descricao',
    'valor'
]]

# salva o arquivo de saída
df

,indice,data_referencia,data_captura,descricao,valor
2,selic_estimativa_anbima,2022-03-30,2022-03-30,30/03/2022,11.65
3,selic,2022-03-29,2022-03-30,29/03/2022,11.65
4,None,2022-03-29,2022-03-30,29/03/2022,11.65
6,igpm_numero_indice,2022-03-30,2022-03-30,Número Índice,1161.418
7,igpm_variacao_percentual_mes,2022-03-30,2022-03-30,Var % no mês,1.74
8,igpm_projecao_anbima,2022-03-30,2022-03-30,Projeção (mar/22),1.38
9,ipca_numero_indice,2022-03-30,2022-03-30,Número Índice,6215.24
10,ipca_variacao_percentual_mes,2022-03-30,2022-03-30,Var % no mês,1.01
11,ipca_projecao_anbima,2022-03-30,2022-03-30,Projeção (mar/22),1.28
13,dolar_comercial_compra,2022-03-29,2022-03-30,29/03/2022,4.7480
14,None,2022-03-29,2022-03-30,29/03/2022,4.7486
16,euro_compra,2022-03-29,2022-03-30,29/03/2022,5.2731
17,euro_venda,2022-03-29,2022-03-30,29/03/2022,5.2743
19,tr,2022-03-28,2022-03-30,28/03/2022,0.1084
20,tbf,2022-03-28,2022-03-30,28/03/2022,0.8993
22,fds,2022-03-29,2022-03-30,29/03/2022,0.066175
23,fds,2022-03-28,2022-03-30,28/03/2022,0.066168

In [ ]:
# salva o arquivo de saída,vi funcionar voce criando o arquivo com nome e formato
file_path = os.path.join('bases', 'indicadores_anbima.csv')
df.to_csv(file_path, mode='a', index=False)